* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bonusesMainContainer {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0 45px;
}

.TitleContainer {
    width: 70%;
    margin: 0 auto;

    .mainTitleConteiner {
        margin: 0 auto 60px;
        
        .blackBG {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }
        .topTitle_takeBonuses {
            margin: 0 auto 22px;
            font-family: "Acrom";
            font-size: 18px;
            text-transform: uppercase;
    
        }
    
        .bottomTitle_takeBonuses::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            display: block;
            width: 20px;
            height: 3px;
            background-color: rgb(0, 0, 0);
        }
    
        .bottomTitle_takeBonuses {
            padding: 0 40px 0 40px;
            position: relative;
            font-size: 14px;
            font-family: "Acrom";
        }
        .secondTitleContainer {
            
        }
    }
}
