.header {
    background-image: url(../images/block-1/bg-480.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 20px;
}

.header__list-item1,
.header__list-item2,
.header__list-item3 {
    width: 35px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 5px 0 1px;
    padding-top: 3px;
}

.header__course {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__course--title {
    font-family: "Acrom";
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 55px;
}

.header__course--text {
    font-size: 21px;
    color: white;
    font-family: "Acrom";
    font-style: normal;
    font-weight: bold;
    padding-bottom: 100px;
}

.arrow {
    font-family: "Acrom";
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    color: rgba(23, 236, 255, 255);
    margin: 0 5px 0;
}

.header__course--text1 {
    font-family: "Acrom";
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    color: white;
    padding-top: 60px;
}

.header__course--text2 {
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;
    color: #afb0b3;
    font-size: 18px;
    padding-bottom: 30px;
}

.header__course--button {
    width: 219px;
    height: 50px;
    border: none;
    background-color: #ff6b08;
    margin-bottom: 40px;
}

.course__button {
    font-family: "Acrom";
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    color: white;
}