* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.FiveSectionLook {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 0 45px 0;
}
.mainTextContainer {
    max-width: 50%;
    height: auto;
    margin: 0 auto 45px;
}
.mainText {
    font-family: "Acrom";
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;

}
.blackBgTextWhite {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.secondTextContainer {
    max-width: 60%;
    height: auto;
    margin: 0 0 40px 110px;
    position: relative;

}
.secondTextContainer::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -30px;
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.secondText {
    font-size: 14px;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;

}
.slider {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    box-shadow: 
    0px 10px 20px 5px 
    rgba(223,223,223,1);
    
}
.slideContainer {
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-evenly;
    max-width: 95%;
    border-right: 1px solid rgb(223, 223, 223);

}
.slideContainer::after {
    content: '';
    bottom: 40px;
    right: 3px;
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transform: rotate(90deg);
}

.sliderPictureContainer {
    max-width: 40%;
}

.SliderPicture {
    margin: 0 auto 10px;
}

.pictureTitle {
    font-size: 5px;
    font-family: "Acrom";
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
}

.sliderTitleAbout {
    max-width: 60%;
}
.titleAbout {
    overflow: scroll;
    height: 175px;
    font-size: 6px; 
    font-family: "Acrom";
    font-weight: 400;
    font-style: normal;
    line-height: 10px;
    
}
.slideLeft {
    position: absolute;
    bottom: -17px;
    right: 18px;
    width: 17px;
    height: 17px;
    background-color: rgb(0, 0, 0);
    border: none;
    background-image: 
    url(../images/block-5/SliderButtonArrowLeft.png);
    background-position: center;
    background-repeat: no-repeat;
}
.slideRight {
    position: absolute;
    bottom: -17px;
    right: 0;
    width: 17px;
    height: 17px;
    background-color: rgb(0, 0, 0);
    border: none;
    background-image: 
    url(../images/block-5/SliderButtonArrowRight.png);
    background-position: center;
    background-repeat: no-repeat;

}

.EkaterinaIllarionova {
    display: none;
}
.NatalyaIvanova {
    display: none;
}

