.FiveSectionLook {
    min-width: 90%;
    margin: 0 auto;
}
.mainTextContainer {
    max-width: 70%;
    height: auto;
    margin: auto;
}
.secondTextContainer {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
}
.slider {
    max-width: 90%;
    height: 213px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.sliderPicture {
    max-width: 30%;
}
.sliderTitleAbout {
    max-width: 60%;
}
