* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.FiveSectionLook {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 0 45px 0;
}
.mainTextContainer {
    max-width: 60%;
    height: auto;
    margin: 0 auto 45px;
}
.mainText {
    font-family: "Acrom";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;

}
.secondTextContainer {
    max-width: 57%;
    height: auto;
    margin: 0 auto 40px;
    position: relative;
}
.secondTextContainer::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -30px;
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.secondText {
    font-size: 14px;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;

}
.slider {
    max-width: 90%;
    height: 213px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.sliderPicture {
    max-width: 30%;
}
.pictureTitle {
    font-size: 6px;
    font-family: "Acrom";
    font-weight: bolder;
    font-style: normal;

}

.sliderTitleAbout {
    max-width: 60%;
}
.titleAboutNinaMiroshnychenko {
    font-size: 6px; 
    font-family: "Acrom";
    font-weight: 400;
    font-style: normal;
}
