* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.manyPeople {
    width: 80%;
    padding-top: 20px;
    margin: auto;
    font-family: "Acrom", sans-serif;
    &__text {
        width: 73%;
        display: flex;
        flex-direction: column;
        margin: auto;
        &__chapter {
            font-size: 18px;
            line-height: 24px;
            font-weight: bolder;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        &__about {
            font-size: 13.5px;
            line-height: 19.5px;
            font-weight: bold;
            margin-bottom: 35px;
            position: relative;
        }
        &__about::before {
            content: "";
            width: 30px;
            height: 4px;
            display: inline-block;
            background-color: #000000;
            position: absolute;
            left: -50px;
            top: 10px;
        }
    }
    &__img {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
        &--size {
            width: 100%;
            margin: auto;
        }
    }
    &__left--hidden {
        display: none;
    }
    &__right--text {
        width: 90%;
        margin: auto;
        
    }
    &__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        &--title {
            font-size: 13.5px;
            font-weight: bolder;
            line-height: 19.5px;
            color: #ffffff;
            background-color: #000000;
            text-transform: uppercase;
        }
        &--bg {
            width: 57%;
            margin-bottom: 2px;
        }
    }
    &__bottom {
        font-size: 13.5px;
        line-height: 19.5px;
        margin-bottom: 45px;
        &--sign {
            margin-bottom: 20px;
        }
        &--about {
            font-weight: bold;
        }
    }
}
.top-first {
    width: 25%;
    margin-bottom: 2px;
}
.top-second {
    width: 38%;
}


@media (min-width: 768px) {
    .manyPeople__section {
        display: flex;
        justify-content: space-between;
    }
    .manyPeople__text {
        width: 36%;
    }
    .manyPeople__text__chapter {
        font-size: 27px;
        line-height: 33.65px;
        padding-left: 12px;
    }
    .manyPeople__text__about {
        width: 70%;
        font-size: 8.97px;
        line-height: 13.96px;
        margin-left: auto;
        margin-bottom: 0;
    }
    .manyPeople__img {
        display: flex;
        align-items: flex-start;
        width: 45%;
        margin: 0;
        margin-left: auto;
        &--size {
            margin: 0;
            margin-left: auto;
        }
    }
    .manyPeople__img--size {
        margin: 0;
        padding-bottom: 100px;
    }
    .manyPeople__left--hidden {
        display: block;
        padding-top: 40px;
        width: 40%;
    }
    .manyPeople__left--hidden img {
        width: 100%;
    }
    .manyPeople__img--mobile {
        display: none;
    }
    .manyPeople__top--title {
        width: 100%;
        font-size: 8.97px;
        line-height: 14.58px;
        font-weight: bolder;
    }
    .manyPeople__top {
        width: 35%;
        margin-right: 40px;
    }
    .manyPeople__bottom {
        display: flex;
        justify-content: space-between;
    }
    .manyPeople__bottom--text {
        width: 65%;
    }
    .manyPeople__bottom--sign {
        font-size: 8.97px;
        font-weight: 400;
        line-height: 13.46px;
    }
    .manyPeople__bottom--about {
        color: #3f4144;
        font-size: 7.85px;
        line-height: 11.78px;
    }
    .manyPeople__right {
        display: flex;
        flex-wrap: wrap;
        width: 55%;
    }
    .manyPeople__right--text {
        display: flex;
        justify-content: space-between;
    }
}