* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper {
    max-width: 480px;
}
.PossybleToStudy {
    background-color: #ffffff;
    padding-top: 40px;
    margin: auto;

}
.PossybleToStudy__conteiner {
    display: flex;
    flex-direction: column;
}
.PossybleToStudy__title {
    width: 80%;
    // display: block;
    margin: auto;
    margin-bottom: 21px;
    font-family: "Acrom";
    font-weight: bolder;
    font-size: 34px;
}
.PossybleToStudy__none {
    display: none;
}
.PossybleToStudy__descrip {
    width: 60%;
    margin: auto;
    font-family: "Acrom";
    margin-bottom: 62px;
}

.PossybleToStudy__descrip--position {
    width: 60%;
    margin: auto;
    font-family: "Acrom";
    margin-bottom: 62px;
    position: relative;
}
.PossybleToStudy__planet {
    position: absolute;
    top: 0;
    right: 0;
}
.PossybleToStudy__title2 {
    
    margin-bottom: 17px;  
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
}
.PossybleToStudy__text {
    font-weight: bold;
    font-size: 17px;
}
.PossybleToStudy__Img {
    width: 90%;
    margin:auto;
    margin-bottom: 62px;
}
.PossybleToStudy__pic {
    width: 100%;
}
.PossybleToStudy__text1 {
    
    font-family: "Acrom";
    font-size: 17px;
    margin-bottom: 29px;
    
}
.PossybleToStudy__text1::before {
content: "";
width: 20px;
height: 3px;
background-color: black;
position: absolute;
top: 13px;
left: 0px;


}
.PossybleToStudy__line {
    width: 60%;
    margin: auto;
    padding-left: 30px;
    position: relative;
}

.PossybleToStudy__text2 {
    background-color: black;
    color: white;
    font-family: "Acrom";
    font-weight: bold; 
    
}
.PossybleToStudy__text2--black {
    margin: auto;
    width: 60%;
    margin-bottom: 29px;
}
.PossybleToStudy__awwords {
    display: flex;
    flex-direction: column;
}
.PossybleToStudy__item {
    width: 60%;
    margin: auto;
    font-family: "Acrom";
    margin-bottom: 62px;
    display: flex;
    justify-content: space-around;
}
.PossybleToStudy__text--bold {
    margin-bottom: 13px;  
    font-weight: 400;
}
.PossybleToStudy__Img2 {
    width: 65%;
    height: auto;
}
.PossybleToStudy__photo {
width: 100%;

}

@media (min-width: 768px) {
    .wrapper {
        max-width: 960px;
    }
.PossybleToStudy__conteiner {
    flex-direction: row; 
}
.PossybleToStudy__box1 {
    width: 40%;
}
.PossybleToStudy__box2 {
    width: 60%;
}
.PossybleToStudy__descrip {
    display: flex;
    flex-direction: row; 
    margin-bottom: 0; 
    justify-content: space-around;
}

    .PossybleToStudy__awwords {
        width: 90%;
        margin: auto; 
        flex-direction: row;
        justify-content: space-around;
       
        
    }
    .PossybleToStudy__none {
        display: block;
    }
    .PossybleToStudy__none1 {
        display: none;
    }
    .PossybleToStudy__title2 {
        font-size: 16px;
    }
    .PossybleToStudy__text {
        font-size: 14px;
    }
    .PossybleToStudy__item {
        margin-right: 30px;
        margin-top: 0;
    }
    .PossybleToStudy__descrip--position {
        margin-right: 30px;
    }
}