* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper {
    max-width: 480px;
}
.PossybleToStudy {
    background-color: #ffffff;
    padding-top: 40px;

}
.PossybleToStudy__title {
    width: 80%;
    // display: block;
    margin: auto;
    margin-bottom: 21px;
    font-family: "Acrom";
    font-weight: bold;
    font-size: 47px;
}
.PossybleToStudy__title2 {
    width: 80%;
    margin: auto;
    margin-bottom: 39px;
    font-family: "Acrom";
    font-weight: bold;
    font-size: 34px;
}
