.proffesion {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.proffesion__all {
    display: flex;
    flex-direction: column;
}

.all__hended {
    display: flex;
    flex-direction: column;
    width: 67%;
    margin: auto;
}

.hended__proff {
    font-size: 18px;
    font-family: "Acrom" , sans-serif;
    font-weight: 400;
    margin-bottom: 21px;
    text-transform: uppercase;
}

.hended__brain {
    font-family: "Acrom" , sans-serif;
    font-weight: bold;
    font-size: 13.5px;
    width: 85%;
    margin-bottom: 24px;
}

.beforeCacher {
    display: flex;
}

.beforeCacher::before {
    content: '';
    height: 4px;
    width: 13.5px;
    background-color: #000000;
    display: block;
    margin-right: 10px;
}

.all__pic {
    width: 100%;
    margin-bottom: 39px;
}

.pic__friends {
    width: 100%;
}

.all__years {
    display: flex;
    flex-direction: column;
    width: 67%;
    margin: auto;
}

.years__sistem {
    font-family: "Acrom" , sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 13.5px;
    text-transform: uppercase;
}

.years__simple {
    font-size: 13.5px;
    font-family: "Acrom" , sans-serif;
    font-weight: bold;
}

@media (min-width: 768px) {
    .proffesion__all {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .all__hended {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0;
    }
    
    .hended__proff {
        font-size: 27px;
        font-family: "Acrom" , sans-serif;
        font-weight: 400;
        margin-bottom: 21px;
        text-transform: uppercase;
    }
    
    .hended__brain {
        font-family: "Acrom" , sans-serif;
        font-weight: bold;
        font-size: 9px;
        width: 85%;
        margin-bottom: 24px;
    }
    
    .beforeCacher {
        display: flex;
    }
    
    .beforeCacher::before {
        content: '';
        height: 4px;
        width: 15px;
        background-color: #000000;
        display: block;
        margin-right: 10px;
    }
    
    .all__pic {
        width: 35%;
        margin-bottom: 39px;
    }
    
    .pic__friends {
        width: 100%;
    }
    
    .all__years {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0;
    }
    
    .years__sistem {
        font-family: "Acrom" , sans-serif;
        font-weight: 400;
        margin-bottom: 16px;
        font-size: 12px;
        text-transform: uppercase;
    }
    
    .years__simple {
        font-size: 8px;
        font-family: "Acrom" , sans-serif;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .hended__proff {
        font-size: 37px;
    }

    .hended__brain {
        font-size: 18px;
        width: 85%;
    }

    .years__sistem {
        font-size: 18px;
    }

    .years__simple {
        font-size: 13.4px;
    }
}