* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // outline: 1px solid green;

}
.sectionOne{
  margin: auto;
  padding: 16px 0 43px;
}


.wrapper {
  width: 80%;
  margin: auto;
}

.topImg {
  position: relative;
  width: 80%;
  margin: 21px auto 30px;


}

.backFon {
  position: absolute;
  height: 100%;
  top: 0px;
  right: -25px;
}






.boyFoto {
  left: 50px;
  position: sticky;

}


.textOrange {
  margin-bottom: 20px;
}

.orange {
  font-family: "Acrom";
  font-size: 13.5px;
  color: rgba(255, 107, 8, 255);
  text-align: left;
  display: flex;
}

.orange::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(120deg);
  margin-top: 6px;

}

.blackFon {
  text-align: center;
  margin-bottom: 20px;
}

.blackFonP {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  display: inline;


}

.nextText {
  width: 60%;
  text-align: left;
  display: flex;
  font-size: 13.5px;
  margin: 0 auto 20px;

}

.newTextP {
  display: flex;
}

.newTextP::before {

  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  margin-top: 6px;
  margin-right: 10px;


}

.nextText2 {
  width: 80%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13.5px;
  margin: 0 auto 20px;

}





.step__number {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: baseline;
  margin-bottom: 29px;
}

.number__title {
  margin-bottom: 15px;
  font-size: 13.5px;
  font-family: "Acrom", sans-serif;
  font-weight: 400;
}

.number__abz {
  font-size: 13.5px;
  font-family: "Acrom", sans-serif;
  font-weight: bold;

}

.uno1::before {
  content: ' [001]';
  background-color: #ff6007;
  font-size: 10px;
  transform: rotate(270deg);
  display: block;
  width: 30px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 5px;
}


.dos2::before {
  content: ' [002]';
  background-color: #ff6007;
  font-size: 10px;
  transform: rotate(270deg);
  display: block;
  width: 30px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 5px;
}

.tres3::before {
  content: ' [003]';
  background-color: #ff6007;
  font-size: 10px;
  transform: rotate(270deg);
  display: block;
  width: 30px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 5px;
}

.quatro4::before {
  content: ' [004]';
  background-color: #ff6007;
  font-size: 10px;
  transform: rotate(270deg);
  display: block;
  width: 30px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 5px;
}

.cinco5::before {
  content: ' [005]';
  background-color: #ff6007;
  font-size: 10px;
  transform: rotate(270deg);
  display: block;
  width: 30px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 5px;
}

.sess6::before {
  content: '[006]';
  background-color: #ff6007;
  font-size: 10px;
  transform: rotate(270deg);
  display: block;
  width: 30px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 5px;
}


@media (min-width: 768px) {
  .sectionOne{
    margin: auto;
    padding: 37px 0 54px;
  }

  // .sectionOne,
  // .sectionTwo {

  //   max-width: 968px;
  // }


  .topOne {
    display: flex;
    width: 100%;
  }


  .sectionLeft {
    width: 50%;
  }



  .textRightOne {

    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 10px;
  }



  .blackFonP {
    font-size: 30px;
  }


  .nextText {
    width: 100%;
  }

  .newTextP {
    width: 80%;
  }

  .blackFon,
  .blackFonP {
    text-align: left;
    line-height: 40px;
  }



  .numerovani {
    display: flex;
    flex-wrap: wrap;
  }


  .nextText2 {
    width: 25%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

  }

  .blockiOrange {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .step__number {
    width: 32%;
    margin: 0 0 30px 0;
    display: flex;

  }

  .textOrange {
    width: 80%;
  }




}


@media (min-width: 1200px) {


  // .sectionOne,
  // .sectionTwo {

  //   max-width: 1440px;
  // }




  .blackFonP {
    font-size: 45px;
    line-height: 65px;
  }




  .nextText2 {
  
    font-size: 25px;
    line-height: 30px;
      }

  .blockiOrange {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 
  .textOrange {
    width: 50%;
    font-size: 25px;
  }


  .topOne {
    margin-bottom: 40px;
  }









}
