* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.stepCourse__headr {
    display: flex;
}

.headr__pic {
    width: 100%;
    margin-bottom: 1.25rem;
}

.pic__TeaTime {
    width: 100%;
}

.headr__txt {
    display: none;
}

.stepCourse__descr {
    display: flex;
    flex-direction: column;
}

.descr__big {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.descr__step {
    display: flex;
    flex-direction: column;
}

.step__numer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: baseline;
    margin-bottom: 29px;
}

.numer__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.uno::before {
    content:' [001]';
    background-color: orangered;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.dos::before {
    content:' [002]';
    background-color: orangered;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.tres::before {
    content:' [003]';
    background-color: orangered;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.quatro::before {
    content:' [004]';
    background-color: orangered;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.cinco::before {
    content:' [005]';
    background-color: orangered;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.sess::before {
    content:'[006]';
    background-color: orangered;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}


