* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 

.stepCourse__headr {
    display: flex;
}

.headr__pic {
    width: 100%;
    margin-bottom: 1.25rem;
}

.pic__TeaTime {
    width: 100%;
}

.headr__txt {
    display: none;
}

.stepCourse__descr {
    display: flex;
    flex-direction: column;
}

.descr__big {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Acrom", sans-serif;
    font-weight: bolder;
}

.descr__step {
    display: flex;
    flex-direction: column;
}

.step__numer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: baseline;
    margin-bottom: 29px;
}

.numer__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Acrom", sans-serif;
    font-weight: 400;
}

.numer__abz {
    font-size: 18px;
    font-family: "Acrom", sans-serif;
    font-weight: bold;
}

.uno::before {
    content:' [001]';
    background-color: #ff6007;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.dos::before {
    content:' [002]';
    background-color: #ff6007;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.tres::before {
    content:' [003]';
    background-color: #ff6007;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.quatro::before {
    content:' [004]';
    background-color: #ff6007;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.cinco::before {
    content:' [005]';
    background-color: #ff6007;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}

.sess::before {
    content:'[006]';
    background-color:#ff6007;
    font-size: 10px;
    transform: rotate(270deg);
    display: block;
    width: 30px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
}


.stepCourse__footer {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
}


.footer__wonder {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.wonder__how {
    font-size: 15px;
    color: #ff6007;
    text-align: left;
    margin: auto;
    width: 70%;
    font-family: "Acrom", sans-serif;
    font-weight: bold;
    
}

.wonder__how::before {
    content: '/';
    font-size: 30px ;
    margin-right: 10px;
    display: inline;
    color: #000000;
}

.btn__get {
    text-decoration: none;
    color: #ffffff;
    background-color: #ff6007;
    font-size: 11px;
    line-height: 40px;
    display: block;
    width: 216px;
    text-align: center;
    margin: auto;
    font-family: "Acrom", sans-serif;
    font-weight: 400;

}