* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 1px solid green;
}

section {
  max-width: 768px;
  font-family: 'Acrom', sans-serif;
  // font-weight: 600;
  padding: 56px 0 39px;
  margin: auto;

}

.wrapperMoney {
  position: relative;
  width: 92%;
  margin: auto;
}




.top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topText {
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 255);
  text-align: left;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 20px;
}

.textRight::before {

  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
  top: 8px;
  left: 20px;


}

.textRight {
  margin: auto;
  font-size: 10pt;
  font-weight: 400;
  position: relative;
  padding-left: 60px;
  text-align: left;
  margin-bottom: 5px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.topLeft {
  margin-bottom: 35px;

}


.topRightH2 {
  font-family: 'Acrom'sans-serif;
  font-size: 15pt;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 23px;
}

.topRightH22 {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 15pt;
  display: inline;
  line-height: 35px;
  margin-left: 22px;

}

.topRight {
margin-left: 55px;
  width: 80%;
  text-align: left;
  margin-bottom: 6px;
}

.bottomTwo {
  // padding: 20px 30px 0;
  margin: auto;

}


.blokiTwo {
  display: flex;
  flex-wrap: wrap;
}


// .boxTwo {
//   margin-bottom: 10px;
// }

.kybik {
  background-color: black;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  
}
.topBox {
  width: 90%;
  display: flex;
  margin: auto;
}

.boldTop {
  font-weight: 400;
}

.textBox {
  width: 95%;
  margin: auto;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;

}

.ifYou {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px 0 20px;
}

.orangeText {
margin: 35px auto 0;
  width: 68%;
font-size: 10pt;
line-height: 20px;
text-align: center;
font-weight: 600;
color: #ff905c;
text-align: center;

}




.orangeText2 {
   
  text-align: left;
  color: #ff905c;
  display: none;
  
  }


.backYou {
 top: 300px;
 left: 50px;
  position: absolute;
}

.topLeft768 {
  width: 100%;
  height: 400px;
  background-image: url(../images/block-2/Image-block.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}




@media (min-width: 768px)
{
  section {
    max-width: 968px;
    padding: 94px 0 38px;
  }

  .topLeft {
    display: none;
  }

  .topLeft768 {
    display: block;
    width: 260px;
    height: 240px;
    margin: auto;
  }


.leftBlock
 {
   width: 50%;
 }
.top {
  width: 50%;
}

.centerMakeMoney {
  display: flex;
  width: 100%;
}

.topText {
  width: 68%;
  font-size: 11px;
  margin-bottom: 26px;
  line-height: 13px;
  margin-left: 8px;
}

.topRight {
  margin: 0;
  margin-left: 10px;
width: 68%;
}

.textRight {
  width: 80%;
    font-size: 9pt;
    line-height: 17px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 13px;
    margin-left:-20px;
}
.boxTwo {
  width: 24%;
}

.orangeText {
  
  width: 31%;
  line-height: 14px;
  font-size: 10px;
  text-align: left;
  margin: 0 0 0 auto;
}
  
  
  
  .kybik {
    display: none;
  }


  .topRightH2 {
    font-size: 20pt;
    font-weight: 400;
    margin: 0;
  }
  
  .topRightH22 {
    font-size: 20pt;
    line-height: 35px;
    margin: 0;
    
  
  }
  
.ifYou {
  font-size: 17px;
  margin: 65px 32px 14px;
}

.textBox {
  margin: auto;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
}



.blokiTwo {margin-left: 21px;
}



}


@media (min-width: 1200px)
{

  section 
  {
    max-width: 1440px;
    
  }


  .topLeft768

  {
    width: 287px;
    height: 269px;
    margin-left: 200px;
}



.topText {
width: 45%;
font-size: 11px;
margin-bottom: 26px;
line-height: 15px;
margin-left: 8px;
}

.topRight {
margin: 0;
margin-left: 10px;
width: 43%;
}

.textRight {
  width: 80%;
  font-size: 9pt;
  line-height: 22px;
  font-weight: 600;
  margin: 3px 0 12px -13px;
}


.boxTwo {
width: 32%;
margin-bottom: 10px;
}

.orangeText {

width: 31%;
line-height: 14px;
font-size: 10px;
text-align: left;
margin: 0 0 0 auto;
}



.kybik {
  display: none;
}


.topRightH2 {
  font-size: 22pt;
  font-weight: 400;
  margin: 0;
}

.topRightH22 {
  font-size: 22pt;
  line-height: 39px;
  margin: 0;
  

}

.ifYou {
width: 20%;
font-size: 18px;
text-align: right;
margin: 0;
}

.textBox {
margin: auto;
font-size: 10px;
font-weight: 300;
line-height: 14px;
}



.blokiTwo {margin-left: 21px;
}

.centerMakeMoney {
  margin-bottom: 72px;
}
.bottomTwo {
  display: flex;
  width: 79%;
  margin: auto;
  justify-content: space-between;
}


.blokiTwo {
  width: 71%;
}




.orangeText {
  margin: 35px auto 0;
    width: 68%;
  font-size: 10pt;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: #ff905c;
  text-align: center;
  display: none;

  
  }
  
  
  
  
  .orangeText2 {
     
    margin: 13px auto 0;
    width:35%;
    font-size: 9pt;
    line-height: 11px;
    font-weight: 600;
    color: #ff905c;
    display: block;
    }




}