.warning{
    max-width: 90%;
    padding: 0;
    margin: auto;
}
.warning-box1{
    display: none;
}
.warning-heds{
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: bolder;
  font-size: 18px;
  width: 50%;
 padding-left: 100px;
}
.warning-text{
    display: flex;
    width: 80%;
    justify-content: center;
}
.warning-opus{
    font-family: "Acrom", sans-serif;
    font-style: normal;
  font-weight: bold;
    font-size: 14px;
    padding-left: 100px;
    width: 90%;
    text-align: left;
    position: relative;
    
   }
.warning-opus::before{
    content: '';
    width: 21px;
    height: 3px;
    display: block;
    background-color: black;
    position: absolute;
    top: 5px;
    left: 60px;   
}
.warning-list {
    display: flex;
    flex-direction: column;
    list-style: square outside url(/images/block-6/knopa.png);
    width: 80%;
    
}
.warning-list-item{
font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: bolder;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  
}
.warning-list-text{
    font-family: "Acrom";
    font-weight: 100;
    font-style: normal;
    text-transform: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 17px;
}
@media(min-width:768px){
            .warning{
            max-width: 90%;
            padding: 0;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .warning-box1{
            width: 50%;
            position: relative;
            display: flex;
             z-index: 0;
        }
        .warning-box2{
            width: 50%;
            padding-top: 50px;
        }
        .box-hard {
            transform: rotate(90deg);
            font-size: 171px;
            opacity: 0.1;
            font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: rgb(56, 56, 56);
    text-align: left;

                       
        }
        .box1-image{
            position: absolute;
            z-index: 5;
            top:15%;
            left: 40%;
            background-color: transparent;
            filter: drop-shadow(16px 16px 16px rgba(99, 98, 98, 0.6));
            
        }
        
}
@media(min-width:1024px){
    .box-hard-text{
        margin:0;
    }
    
}
